.preg-calc-super-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
}

.preg-calc-input-container {
    padding: 6px;
}

.preg-calc-input-container select {
    border-color: rgba(var(--mainColor));
}

.preg-calc-button-container {
    text-align: center;
}

#btn_Submit_PregCalc_Right {
    display: inline-block;
    background: rgba(var(--shadowColor));
    width: 100%;
    font-family: var(--fontFamilyName) Bold, Arial, Helvetica, sans-serif !important;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.preg-calc-calc-heading {
    display: block;
    font-size: calc(var(--mobFontSize_H2) - 1%) !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.preg-calc-calc-description  {
    font-size: calc(16px - 1%) !important;
}

.preg-calc-result {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    padding: 24px;
}

.preg-calc-result-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: white;
    font-size: calc(var(--mobFontSize_componentTitle) - 1%);
}

.preg-calc-result-content #preg-calc-day-container,
.preg-calc-result-content #preg-calc-date-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
    font-weight: bold;
}

.preg-calc-result-bg-content-container {
    position: relative;
    text-align: center;
}

.preg-calc-result-bg-content-container img {
    width: 50%;
    max-width: 250px;
}

.preg-calc-result-button-container {
    width: 100%;
}

#preg-calc-result-bg-image-container {
    position: relative;
}

#preg-calc-result-return-button {
    display: inline-block;
    min-width: 100px;
    margin: 20px calc((100% - 130px) / 2) 0;
    background: rgb(var(--shadowColor));
    font-size: 16px;
    color: rgb(var(--mainLightColor)) !important;
    text-align: center;
    padding: 8px 15px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;
    outline: none !important;
}

#preg-calc-weeks-container {
    padding: 24px;
}

#preg-calc-weeks-title-container {
    font-size: calc(var(--mobFontSize_H3) - 1%) !important;
}

#preg-calc-weeks {
    font-size: calc(var(--mobFontSize_H2) - 1%) !important;
}

#preg-calc-trimesters-container {
    display: flex;
    align-content: space-between;
    padding: 0 6px;
}

.preg-calc-trim-container {
    margin: 3px;
}

.preg-calc-trim-title-container {
    color: white;
    padding: 6px;
    font-weight: bold;
    font-size: calc(16px - 1%) !important;
}

.preg-calc-trim-content-container {
    padding: 12px;
    font-size: calc(16px - 1%) !important;
}

#preg-calc-first-trim-container .preg-calc-trim-title-container {
    background-color: #a371fc;
}

#preg-calc-second-trim-container .preg-calc-trim-title-container {
    background-color: #ffbf00;
}

#preg-calc-third-trim-container .preg-calc-trim-title-container {
    background-color: #4989ff;
}

#preg-calc-first-trim-container .preg-calc-trim-content-container {
    background-color: #a371fc66;
}

#preg-calc-second-trim-container .preg-calc-trim-content-container {
    background-color: #ffbf0066;
}

#preg-calc-third-trim-container .preg-calc-trim-content-container {
    background-color: #4989ff66;
}

.cnts {
    height: auto !important;
}
